.board {
}

.block {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  background-size: cover;
  display: inline-block;
  margin: 5px;
}
.mark1 {
  background-color: lightblue;
}
.mark2 {
  background-color: lightcoral;
}